html, head, body {
	padding: 0;
	margin: 0;
	font-size: 100%;
	overflow: hidden;
}

header {
	min-height: 2rem;
	display: flex;
	justify-content: left;
	font-size: 2rem;
}

header div {
	margin: auto 0;
	padding: 0;
}

section {
	display: flex;
	flex-direction: row;
}

#loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff9a;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#loader p {
	font-size: 1.5rem;
	margin: 0;
}

#loader .loading_container {
	width: 80%;
	height: 2rem;
	background: rgb(219, 216, 216);
}

#loader .loading_container .progress {
	background: rgb(34, 202, 34);
}

#resourcepacks {
	width: 80%;
	height: 100%;
	border: 1px solid rgb(49, 49, 49);
	box-shadow: 1px 1px 5px -1px black;
	background: white;
}

#resourcepacks div {
	border: 1px solid rgb(109, 108, 108);
	position: relative;
	height: 1.3rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#resourcepacks div header {
	position: absolute;
	display: block;
	left: 0;
}

#resourcepacks div section {
	position: absolute;
	display: none;
	left: 0;
}

#resourcepacks div:hover header {
	display: none;
	cursor: default;
}

#resourcepacks div:hover section {
	display: block;
	cursor: default;
}

#resourcepacks div footer {
	position: absolute;
	display: block;
	right: 0;
	height: 100%;
	width: 1.3rem;
}

#resourcepacks div footer button {
	background: none;
	border: none;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#resourcepacks div footer button:hover {
	cursor: pointer;
}

#action {
	height: 100%;
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

#action .button {
	margin: 0.5rem;
	padding: 0.5rem 0.9rem;
}